* {
    font-family: 'Helvetica', 'Sans Serif';
}

.parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.child {
    position: relative;
    display: flex;
    justify-content: center;
    height: 1200px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.index_icon_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.chat {
    height: 400px;
    width: 400px;
    margin: 20px !important;
    margin-bottom: 20px !important;
    background-color: white;
    border-radius: 30px !important;
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
    border-radius: 50%;

}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
    border-radius: 50px !important;

}

.user_contaniter {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    background-color: rgb(250, 250, 250);
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.close_div {
    padding-top: -25px;
    padding-top: -10px;
    margin-top: -10px;
    margin-left: 20px;
}

.close_div i {
    color: rgba(0, 0, 0, 0.8);
}

.close_img {
    width: 20px;
    height: 20px;

}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50% !important;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
    object-fit: fill;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #157007;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 2px solid white;
}

.chat_online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #157007;
    border-radius: 50%;
    margin-top: -10px;
    border: 1.5px solid white;
}

.chat_online_icon.red {
    background-color: rgb(248, 86, 86);
}

.user_info span {
    font-size: 20px;
    color: black;
    padding-left: 20px;
    font-weight: bold;
}

.user_info p {
    font-size: 10px;
    padding-left: 20px;
    margin-bottom: 0px !important;
    letter-spacing: 0.5px;
    color: black;
}

.time_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    padding: 15px;
    font-size: 10px;
    letter-spacing: 1px;
}

.message {
    padding: 30px;
    padding-top: 0px;
    display: flex;
}

.message_img {
    height: 50px;
    width: 50px;
    border: 1.5px solid #f5f6fa;
    border-radius: 50%;

}

.message_info {
    background-color: rgb(250, 250, 250);
    padding: 20px;
    padding-bottom: 0px;
    margin-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.hello {
    display: flex;

}

.hello_img {
    height: 30px;
    width: 30px;
    padding: 4px;

}

.message_info p {
    margin-top: 10px;
    padding-top: 10px;
}

.share_with_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share_with {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.share_div {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 10px;
}

.share_item {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px;
    border-radius: 10px;
}

.share_item:hover {
    text-decoration: none;
}

.share_item i {
    color: white;
    font-size: 25px;
}

.share_whatsapp {
    background-color: #6bba61;
}

.share_phone {
    background-color: #7615f5;
}

.share_telegram {
    background-color: #37a0f2;
}

.chat_icon {
    color: black !important;
    font-size: 40px;
}

.share_img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.chat_icon_div {
    position: absolute;
    bottom: 15px;
    right: 100px;
    padding-top: 30px;
    display: flex;
    height: 80px;

    justify-content: flex-end;
    align-items: center;

}

.chat_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;

}